aws_access_key = "???"
aws_secret_key = "???"
aws_region = "ap-northeast-1"
vpc_id = "vpc-???"
subnet_ids = "subnet-???,subnet-???"
s3_bucket_name = "docker-registry.????.???"
ecs_optimized_ami_id = "ami-095dbf68"
htpasswd = "???"
ssl_certificate_id = "arn:aws:iam::???"
route53_hosted_zone_id = "???"
elb_security_group_ids = "sg-???,sg-???"
ec2_security_group_ids = "sg-???"
ec2_key_pair_name = "???"
tag_base_name = "docker-regsitry.???.???"
docker_registry_host_name = "docker-registry.???.???"
num_of_ec2_instances = 2